In [112]:
import pandas as pd

national_test_file_path = 'data/riket2023_åk9_np.xlsx'

sheet_names = pd.ExcelFile(national_test_file_path).sheet_names

df_dict = {}
for sheet_name in sheet_names[:-1]:
    df_dict[sheet_name] = pd.read_excel(
        national_test_file_path,skiprows= 8,sheet_name = sheet_name
    )
    
df_dict["Matematik"]
# itereate through sheetnames 
# read each sheet into a dictionary of dataframes
# df = pd.read_excel('data/riket2023_åk9_np.xlsx',skiprows= 8)

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [113]:
subjects = list(df_dict.keys())
subjects

['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk']

# Change name of columns

In [114]:
df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', 'Totalt', 'Flickor', 'Pojkar', 'Totalt ',
       'Flickor ', 'Pojkar ', 'Totalt  ', 'Flickor  ', 'Pojkar  '],
      dtype='object')

In [115]:
import numpy as np
postfixes = [""]*2 + ["(A-F)"]*3 + ["(A-E)"]*3 + [("Poäng")]*3


df_dict["Engelska"].columns.str.strip() + np.array(postfixes)

Index(['Riket', 'Typ av huvudman', 'Totalt(A-F)', 'Flickor(A-F)',
       'Pojkar(A-F)', 'Totalt(A-E)', 'Flickor(A-E)', 'Pojkar(A-E)',
       'TotaltPoäng', 'FlickorPoäng', 'PojkarPoäng'],
      dtype='object')

In [128]:
from copy import deepcopy

df_dict_cleaned = deepcopy(df_dict)

for subject in subjects:
    new_columns = df_dict_cleaned[subject].columns.str.strip() + np.array(postfixes)
    df_dict_cleaned[subject].columns = new_columns
    df_dict_cleaned[subject]= df_dict_cleaned[subject].rename(
        {"Riket": "Plats", "Typ av huvudman": "Huvudman"},axis = 1
    )
df_dict_cleaned["Matematik"]

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),TotaltPoäng,FlickorPoäng,PojkarPoäng
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

# EDA

In [129]:
df_dict_cleaned["Matematik"]

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),TotaltPoäng,FlickorPoäng,PojkarPoäng
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [130]:
df_dict_cleaned["Matematik"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Plats         4 non-null      object
 1   Huvudman      4 non-null      object
 2   Totalt(A-F)   4 non-null      int64
 3   Flickor(A-F)  4 non-null      int64
 4   Pojkar(A-F)   4 non-null      int64
 5   Totalt(A-E)   4 non-null      object
 6   Flickor(A-E)  4 non-null      object
 7   Pojkar(A-E)   4 non-null      object
 8   TotaltPoäng   4 non-null      float64
 9   FlickorPoäng  4 non-null      float64
 10  PojkarPoäng   4 non-null      float64
dtypes: float64(3), int64(3), object(5)
memory usage: 484.0+ bytes

In [133]:
df_dict_cleaned["Matematik"]["Totalt(A-F)"]

0    106766
1     84163
2     22553
3        50
Name: Totalt(A-F), dtype: int64

In [135]:
df_dict_cleaned["Matematik"].columns

Index(['Plats', 'Huvudman', 'Totalt(A-F)', 'Flickor(A-F)', 'Pojkar(A-F)',
       'Totalt(A-E)', 'Flickor(A-E)', 'Pojkar(A-E)', 'TotaltPoäng',
       'FlickorPoäng', 'PojkarPoäng'],
      dtype='object')

In [137]:
df_dict_cleaned["Matematik"].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Totalt(A-F),4.0,53383.000,50305.900509,50.0,16927.250,53358.00,89813.750,106766.0
Flickor(A-F),4.0,25774.000,24187.203159,25.0,8359.000,25761.50,43176.500,51548.0
Pojkar(A-F),4.0,27609.000,26119.924770,25.0,8568.250,27596.50,46637.250,55218.0
TotaltPoäng,4.0,12.650,1.138713,11.6,11.825,12.45,13.275,14.1
FlickorPoäng,4.0,12.400,0.920145,11.5,11.725,12.30,12.975,13.5
PojkarPoäng,4.0,12.875,1.357387,11.7,11.925,12.55,13.500,14.7

## Amount of students that got F in math

In [142]:
# totalt (A-F) - all students in a Huvudman
# Totalt (A-E) - all students that have passed in a Huvudman
# pick Huvudman samtliga

df_math = df_dict_cleaned["Matematik"]
df_math

In [146]:
import duckdb

total_students = duckdb.query(
"""
    select "Totalt(A-F)"
    From df_math
    where huvudman = 'Samtliga'
"""
).df().values[0][0]

total_students

np.int64(106766)

In [149]:
students_passed = df_math.query("Huvudman == 'Samtliga'")["Totalt(A-E)"]*.01*total_students
students_passed

0    95128.506
Name: Totalt(A-E), dtype: object

In [153]:
students_failed = total_students - students_passed 
students_failed

0    11637.494
Name: Totalt(A-E), dtype: object

Bar