In [154]:
import pandas as pd

In [ ]:
# df = pd.read_csv(r"C:\Users\nirre\Downloads\Kaggle\countries of the world.txt",sep= "\t")
# df.head()

df = pd.read_table(r"C:\Users\nirre\Downloads\Kaggle\countries of the world.csv",sep= ",")
df

In [156]:
pd.set_option("display.max.columns",40)

In [ ]:
df = pd.read_json(r"C:\Users\nirre\Downloads\Kaggle\json_sample.json")
df

In [ ]:
df2 = pd.read_excel(r"C:\Users\nirre\Downloads\Kaggle\world_population_excel_workbook.xlsx",sheet_name='Sheet1')
df2

In [ ]:
pd.set_option("display.max.rows",235)
pd.set_option("display.max.columns",40)
df

In [ ]:
df2.info()

In [ ]:
df2.shape

In [ ]:
df2.head(10)

In [ ]:
df2["Rank"]

In [ ]:
df2.loc["Uzbekistan"]

In [ ]:
df2.iloc[224]

In [ ]:
df = pd.read_csv(r"C:\Users\nirre\Downloads\world_population.csv")
pd.options.display.float_format = '{:.0f}'.format
df

In [ ]:
pd.set_option("display.max.rows", 20)
pd.set_option("display.max.columns", 17)
df

In [ ]:
df[df["Rank"] <= 10]

In [ ]:
specific_countries = ['Bangladesh','Brazil','India']


df[df['Country'].isin(specific_countries)]

In [ ]:
df[df['Country'].str.contains("United")]

In [ ]:
df2 = df.set_index('Country')
df2

In [ ]:
df2.filter(items=['Zimbabwe'],axis= 0)

In [ ]:
df2.filter(like='United',axis= 0)

In [ ]:
df2.iloc[3]

In [ ]:
df2[df2['Rank'] < 10].sort_values(by=['Continent','Country'], ascending= [False, True])

In [ ]:
df = pd.read_csv(r"C:\Users\nirre\Downloads\world_population.csv", index_col='Country')
df

In [235]:
df.reset_index(inplace= True)

In [ ]:
print(df.columns)

In [ ]:
df.set_index('Country',inplace= True)
df

In [ ]:
df.loc['Albania']

In [ ]:
df.iloc[1]

In [ ]:
df.reset_index(inplace= True)
df

In [ ]:
df.columns

In [ ]:
df.set_index(['Continent','Country'],inplace= True)

In [ ]:
df.drop(columns='index', inplace= True)

In [ ]:
df

In [ ]:
df.sort_index(ascending= True)

In [ ]:
df.loc['Africa','Angola']

In [ ]:
df.iloc[1]

In [ ]:
df = pd.read_csv(r"C:\Users\nirre\Downloads\Flavors.csv")
df

In [275]:
group_by_frame = df.groupby('Base Flavor')

In [ ]:
group_by_frame = df.groupby('Base Flavor').mean(['Flavor Rating','Texture Rating','Total Rating'])
group_by_frame

In [ ]:
df.groupby('Base Flavor').mean(['Flavor Rating', 'Texture Rating', 'Total Rating'])

In [ ]:
df.groupby('Base Flavor').count()

In [ ]:
df.groupby('Base Flavor').sum()

In [ ]:
df.groupby('Base Flavor').sum()

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','max','count','sum'], 'Texture Rating': ['mean','max','count','sum']})

In [ ]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['mean','max','count','sum']})

In [ ]:
df.groupby('Base Flavor').describe()

In [305]:
df2 = pd.read_csv(r"C:\Users\nirre\Downloads\LOTR 2.csv")

In [ ]:
df1 = pd.read_csv(r"C:\Users\nirre\Downloads\LOTR.csv")
df1

In [ ]:
df2

In [ ]:
df1.merge(df2,how= 'inner', on= ['FellowshipID'])

In [ ]:
df1.merge(df2,how= 'outer')

In [ ]:
df1.merge(df2,how= 'left')

In [ ]:
df1.merge(df2,how= 'right')

In [ ]:
df2

In [ ]:
df1.merge(df2, how= 'cross')

In [ ]:
df1.join(df2,on='FellowshipID',how= 'outer', lsuffix='_left',rsuffix='_right')

In [ ]:
df4 = df1.set_index('FellowshipID').join(df2.set_index('FellowshipID'), lsuffix='_left',rsuffix='_right',how= 'outer')
df4

In [ ]:
pd.concat([df1,df2],join= 'outer',axis= 1)

In [ ]:
pd.concat

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\nirre\Downloads\pokemon_data.csv")

In [5]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
text = 'Hello Zaira'
custom_key = 'python'

def vigenere(message, key):
    key_index = 0
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    encrypted_text = ''

    for char in message.lower():
    
        # Append space to the message
        if char == ' ':
            encrypted_text += char
        else:        
            # Find the right key character to encode
            key_char = key[key_index % len(key)]
            key_index += 1

            # Define the offset and the encrypted letter
            offset = alphabet.index(key_char)
            index = alphabet.find(char)
            new_index = (index + offset) % len(alphabet)
            encrypted_text += alphabet[new_index]
    
    return encrypted_text
encryption = vigenere(text, custom_key)
print(encryption)

wcesc mpgkh

: